<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mail-API</title>
<script src="/js/jquery-3.6.0.js" ></script>
<script src="/js/axios.min.js" ></script>
<style type="text/css">
	div{
		width: 25%;
		margin: auto;
		
	}
	button {
		font-size: 1.0em;
		width: 50%;
		height: 50px;
		border-radius: 10px;
 		border: 0px; 
		color : black;
	}
	input:focus {
		outline: none;
	}
	
	
</style>
<script type="text/javascript">
	function pass(){
		
	var mail = $("#email").val();
		console.log(mail);
		axios({
	        method:"POST",
	        url: 'pass_find.ajax',
	        data:{
	        	'myMail' : mail
	        }
	    }).then((res)=>{
	    	if(res.data.result == "success"){
	    		alert("메일이 전송되었습니다.")
	    		location.href="http://127.0.0.1:5000/pass";
	    	} else {
	    		alert("수정도중 문제가 생겼습니다.");
	    	}
	    }).catch(error=>{
	        console.log(error);
	        throw new Error(error);
	    });	
		
	}
		
	$(function(){
		$("button").on({
			mousedown : function(){
				$(this).css("background-color", "black").css("color" , "white");
			}
			
			,mouseup : function(){
				$(this).css("background-color", "#F4F0F0").css("color" , "black");
			}
		
		});
		
	});
	
</script>
</head>
<body>
	<form>
		<div>
			<div style="width: 70%; border-bottom: 3px solid; padding-bottom: 20px; text-align: center; margin-top: 170px;">
				<span style="font-size: 1.6em; font-weight: bold;">비밀번호찾기</span>
			</div>
			<div style="width: 100%; text-align: center;">
				<span style="font-size: 0.7em;">가입하신 메일을 입력하시면 이메일로 임시번호를 보내드립니다.</span>
			</div>
			<div style="width: 100%; text-align: center; margin-top: 30px;">
				<label for="email" style="position: relative; right: 140px;">이메일</label><br>
				<input type="text" id="email" name="email" style="width: 70%; font-size: 1.1em; height: 40px; border: 0px; border-bottom: 1px solid gray; text-align: center;" placeholder="예) ddit@gmail.com">
			</div>
			
			<div style="width: 100%; text-align: center; margin-top: 30px;">
				<button type="button" onclick="pass()">메일 발송하기</button>
			</div>
		</div>
	</form>
</body>
</html>