<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table, th, td {
  		border: 1px solid black;
  		border-collapse: collapse;
	}
	table{
		width: 100%;
	}
</style>
<script src="/js/jquery-3.6.0.js" ></script>
<script src="/js/axios.min.js" ></script>
<script type="text/javascript">
function fn_setting(exam_id,e_id,kor,eng,mat){
	var obj_exam_id	= document.getElementById("exam_id");
	var obj_e_id	= document.getElementById("e_id");
	var obj_kor		= document.getElementById("kor");
	var obj_eng	= document.getElementById("eng");
	var obj_mat	= document.getElementById("mat");
	
	obj_exam_id.value	= exam_id;
	obj_e_id.value	 	= e_id;
	obj_kor.value		= kor;
	obj_eng.value		= eng;
	obj_mat.value		= mat;
}
function fn_insert(){
    var exam_id	= $("#exam_id").val();
    var e_id	= $("#e_id").val();
    var kor	= $("#kor").val();
    var eng		= $("#eng").val();
    var mat	= $("#mat").val();

    axios({
        method:"POST",
        url: 'exam_insert.ajax',
        data:{
        	'exam_id':exam_id,
        	'e_id':e_id,
        	'kor':kor,
        	'eng':eng,
        	'mat':mat
        }
    }).then((res)=>{
    	if(res.data.result == "success"){
    		location.reload()
    	}else{
    		alert("추가도중 문제가 생겼습니다.");
    	}
        console.log(res.data.result);
    }).catch(error=>{
        console.log(error);
        throw new Error(error);
    });
    
}

function fn_update(){
	var exam_id	= $("#exam_id").val();
    var e_id	= $("#e_id").val();
    var kor	= $("#kor").val();
    var eng		= $("#eng").val();
    var mat	= $("#mat").val();

    axios({
        method:"POST",
        url: 'exam_update.ajax',
        data:{
        	'e_id':e_id,
        	'kor':kor,
        	'eng':eng,
        	'mat':mat,
        	'exam_id':exam_id
        }
    }).then((res)=>{
    	if(res.data.result == "success"){
    		location.reload()
    	}else{
    		alert("수정도중 문제가 생겼습니다.");
    	}
        console.log(res.data.result);
    }).catch(error=>{
        console.log(error);
        throw new Error(error);
    });
}

function fn_delete(){
	var flag = confirm("한번 삭제된 데이터는 복구되지 않습니다.");
	if(!flag){
		return;
	}
	var exam_id	= $("#exam_id").val();
    var e_id	= $("#e_id").val();
    var kor	= $("#kor").val();
    var eng		= $("#eng").val();
    var mat	= $("#mat").val();

    axios({
        method:"POST",
        url: 'exam_delete.ajax',
        data:{
        	'exam_id':exam_id
        }
    }).then((res)=>{
    	if(res.data.result == "success"){
    		location.reload()
    	}else{
    		alert("추가도중 문제가 생겼습니다.");
    	}
        console.log(res.data.result);
    }).catch(error=>{
        console.log(error);
        throw new Error(error);
    });
	
}
</script>
</head>
<body>

<table style="width: 100%">
	<tr>
		<td>

<table border="1px">
	<tr>
		<td>시험번호</td>
		<td>수험생</td>
		<td>국어</td>
		<td>영어</td>
		<td>수학</td>
	</tr>
{% for e in list %}
	<tr>
		<td><a href="javascript:fn_setting('{{e.exam_id}}','{{e.e_id}}','{{e.kor}}','{{e.eng}}','{{e.mat}}')">{{e.exam_id}}</a></td>
		<td>{{e.e_id}}</td>
		<td>{{e.kor}}</td>
		<td>{{e.eng}}</td>
		<td>{{e.mat}}</td>
	</tr>
{% endfor %}
</table>

		</td>
		<td>
		
<table border="1px">
	<tr>
		<td>시험번호</td><td><input type="text" id="exam_id" /></td>
	</tr>
	<tr>
		<td>수험생</td><td><input type="text" id="e_id" /></td>
	</tr>
	<tr>
		<td>국어</td><td><input type="text" id="kor" /></td>
	</tr>
	<tr>
		<td>영어</td><td><input type="text" id="eng" /></td>
	</tr>
	<tr>
		<td>수학</td><td><input type="text" id="mat" /></td>
	</tr>	
	<tr>
		<td colspan="2" >
			<input type="button" value="추가" onclick="fn_insert()" />
			<input type="button" value="수정" onclick="fn_update()" />
			<input type="button" value="삭제" onclick="fn_delete()" />

		</td>
	</tr>		

</table>
		
		
		
		
		</td>	
		
	</tr>


</table>




</body>
</html>