<!DOCTYPE html>
<html>
<head>
	<title>로그인 (API 사용)</title>
	<!-- 부트스트랩 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<style type="text/css">
		wrap {
			width: 1000px;
		}
	</style>
</head>

<body>
	<div id="wrap">
		로그인 성공
	</div>
</body>

</html>