<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>네이버 로그인</title>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>
<body>
	<div style="position:absolute; left:50%; margin-left:-150px;">
		<div style="text-align: center; border: 1px solid; width: 300px; height: 300px; ">
			<h1>로그인 화면</h1>
			<input type="text" placeholder="아이디" style="width: 200px; height: 20px;"><br>
			<input type="password" placeholder="비밀번호" style="width: 200px; height: 20px; margin: 10px;"><br>
			<button type="button" style="width: 200px;">로그인</button><br>
			 <!-- 네이버아이디로로그인 버튼 노출 영역 -->
			<div id="naver_id_login" style="margin: 10px 10px;"></div>
			<!-- //네이버아이디로로그인 버튼 노출 영역 -->
			<button type="button" style="width: 200px; margin: 0 10px;">회원가입</button>
		</div>
	</div>
 
  
</body>
<script type="text/javascript">
  	var naver_id_login = new naver_id_login("sqKSQy5VxbIclm0CP1vZ", "http://127.0.0.1:5000/callback");
  	var state = naver_id_login.getUniqState();
  	naver_id_login.setButton("green", 1,40);
  	naver_id_login.setDomain("YOUR_SERVICE_URL");
  	naver_id_login.setState(state);
//   	naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();
</script>
</html>